<nz-spin [nzSpinning]="loaderService.isLoading()">
  <div class="slider__title">
    <h2>
      {{ title }}
    </h2>
    <ghub-sort *ngIf="isSortVisible" (sortChanged)="sortChanged.emit($event)" />
  </div>

  <div *ngIf="_repositoryData.length > 0; else noData" class="slider">
    <div class="slider__container">
      <ghub-repo-item
        [@fadeAnimation]="'in'"
        *ngFor="let repository of _repositoryData"
        [repository]="repository"
        (bookmarkChanged)="bookmarkChanged.emit($event)"
      />
      <div class="slider__container__load-button" *ngIf="showLoadButton">
        <button nz-button nzShape="round" (click)="loadClicked.emit()">
          +
        </button>
      </div>
    </div>
  </div>
</nz-spin>

<ng-template #noData>
  <nz-empty nzNotFoundImage="simple" nzNotFoundContent="No Data"></nz-empty>
</ng-template>
