.title {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0;
}

.slider {
  position: relative;

  &__container {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 25px 3rem;
    overflow-x: hidden;

    &__load-button {
      display: flex;
      align-items: center;
      margin-left: 1rem;
    }

    &:hover {
      overflow-x: auto;
    }
  }
}