<nz-spin [nzSpinning]="loaderService.isLoading()">
  <h2 class="title">
    {{ title }}
  </h2>

  <div class="slider">
    <div class="slider__container">
      <ghub-repo-item
        [@fadeAnimation]="'in'"
        *ngFor="let repository of _repositoryData"
        [repository]="repository"
        (bookmarkChanged)="bookmarkChanged.emit($event)"
      />
      <div class="slider__container__load-button" *ngIf="showLoadButton">
        <button nz-button nzShape="round" (click)="loadClicked.emit()">
          +
        </button>
      </div>
    </div>
  </div>
</nz-spin>
