.metrics {
  display: flex;
  height: 40%;

  &__item {
    display: flex;
    margin: 1rem;

    &--label {
      display: flex;
      flex-direction: column;
      margin-left: 8px;

      span:last-of-type {
        font-size: 14px;
        color: #a4a8b0;
      }
    }

    &--icon {
      display: flex;
      align-items: flex-start;

      i {
        width: 15px;
        padding-top: 4px;
      }
    }
  }
}

.github-icon {
  width: 25px;
}
