<div class="repo-card">
  <div class="repo-card__header">
    <div>
      <span class="repo-card__header--title">{{ repository.full_name }}</span>
      <a [href]="repository.owner?.html_url" target="_blank"
        ><img [src]="repository.owner?.avatar_url"
      /></a>
    </div>

    <div class="repo-card__header--icon">
      <button nz-button (click)="updateBookmark()">
        <i
          [ngClass]="repository.isBookmark ? 'star-solid' : 'star-regular'"
        ></i>
      </button>
    </div>
  </div>
  <div class="repo-card__body">
    <div>
      <span nz-tooltip [nzTooltipTitle]="repository.description">{{
        repository.description
      }}</span>
    </div>
    <ghub-repo-metrics [repository]="repository" />
  </div>
</div>
