$card-header-height: 3rem;

:host {
  flex: 0 0 15%;
}

.repo-card {
  background: #e8f3f7;
  height: 200px;
  width: 100%;
  min-width: 300px;
  transition: all ease-in-out 0.5s;
  border-radius: 5px;

  &__header {
    display: flex;
    height: $card-header-height;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;

    img {
      width: 10%;
      border-radius: 4px;
    }

    &--title {
      max-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
      margin: 0 0.5rem;
    }

    &--icon {
      margin: 0.5rem 1rem;

      button {
        border: none;
        height: 0;
        padding: 0;
        // cursor: pointer;

        // &:hover {
        //   cursor: pointer;
        // }
      }
    }
  }

  &__body {
    height: calc(100% - $card-header-height);

    div:first-of-type {
      height: 50%;
      padding: 0.4rem;

      span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        // color: #a4a8b0;
        color: #657391;
      }
    }
  }

  &:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}
