:host {
  flex: 0 0 15%;
}

.repo-item {
  background: lightblue;
  height: 150px;
  width: 100%;
  // border: 1px solid blue;
  transition: all ease-in-out 0.5s;
  border-radius: 5px;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;

    &--title {
      margin-left: 0.5rem;
    }

    &--icon {
      margin: 0.5rem 1rem;

      button {
        border: none;
        padding: 0;
        background-color: lightblue;
        cursor: pointer;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

}

.star {
  &--regular {
    content: url("/assets/icons/svg/star-regular.svg");
  }

  &--solid {
    content: url("/assets/icons/svg/star-solid.svg");
  }
}