* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 1.5rem 0 0 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  background: #dde2ee;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  background: #657391;
  border-radius: 10px;
}

.star-regular {
  content: url("/assets/icons/svg/star-regular.svg");
}

.star-solid {
  content: url("/assets/icons/svg/star-solid.svg");
}

.code-fork-icon {
  content: url("/assets/icons/svg/code-fork-solid.svg");
}

.eye-icon {
  content: url("/assets/icons/svg/eye-regular.svg");
}

.github-icon {
  content: url("/assets/icons/svg/github.svg");
}

.angle-down-icon {
  content: url("/assets/icons/svg/angle-down-solid.svg");
}
